@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, sans-serif;
  touch-action: manipulation;
  --color-bg1: #000000;
  --color-bg2: #000000;
  --color1: 117, 44, 111;
  --color2: 96, 36, 91;
  --color3: 0, 0, 0;
  --color4: 119, 25, 112;
  --color5: 94, 19, 88;
  --color-interactive: 137, 20, 128;
  --circle-size: 80%;
  --blending: hard-light;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans;
  }
}

::-webkit-scrollbar {
  width: 10px; /* Slim scrollbar width */
}

::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #f6f0fc, #ede3f8); /* Softer gradient for the track */
  border-radius: 10px; /* Smooth rounded edges */
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #8540d4, #6c30ad); /* Gradient thumb color */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Outer shadow for a floating effect */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9b5be4, #7e3dc2); /* Slightly lighter gradient on hover */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

body {
  @apply m-0;
  @apply p-0;
  @apply flex;
  @apply box-border;
  @apply overscroll-y-none;
  @apply overflow-x-hidden;
  font-family: "Poppins", sans-serif !important;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.svg-wrapper {
  > svg {
    @apply h-full;
    @apply w-full;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Reset specific styles */
.html-preview h1,
.html-preview h2,
.html-preview h3,
.html-preview h4,
.html-preview h5,
.html-preview h6,
.html-preview ul,
.html-preview li,
.html-preview span,
.html-preview div,
.html-preview a,
.html-preview dl,
.html-preview dt,
.html-preview hr,
.html-preview figure,
.html-preview pre,
.html-preview p {
  list-style: initial;
  padding: initial;
  color: initial !important; /* Prevent color inheritance from Tailwind */
}
