.alice-carousel {
  position: relative;
  width: 100%;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  padding: 0;
  display: block;
  width: 28px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  cursor: pointer;
}

.alice-carousel__prev-btn {
  left: 20px;
}

.alice-carousel__next-btn {
  right: 20px;
}

.alice-carousel__wrapper {
  border-radius: 16px;
}

.alice-carousel__stage {
  display: flex;
}

.alice-carousel__stage-item {
  flex: 1 0 auto;
  width: 100% !important;
  height: auto !important;
}

.rdw-editor-toolbar {
  @apply border-none;
}
.rdw-editor-main {
  @apply border p-2 min-h-[200px];
}
