@import "react-alice-carousel/lib/alice-carousel.css";
@import url("./lib.css");

@tailwind components;
@tailwind utilities;
@tailwind base;

:root {
  font-family: Poppins, sans-serif;
  touch-action: manipulation;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

body {
  @apply m-0;
  @apply p-0;
  @apply flex;
  @apply box-border;
  @apply overscroll-y-none;
  @apply overflow-x-hidden;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.svg-wrapper {
  > svg {
    @apply h-full;
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Reset specific styles */
.html-preview h1,
.html-preview h2,
.html-preview h3,
.html-preview h4,
.html-preview h5,
.html-preview h6,
.html-preview ul,
.html-preview li,
.html-preview span,
.html-preview div,
.html-preview a,
.html-preview dl,
.html-preview dt,
.html-preview hr,
.html-preview figure,
.html-preview pre,
.html-preview p {
  list-style: initial;
  padding: initial;
  color: initial !important; /* Prevent color inheritance from Tailwind */
}
