@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Poppins, sans-serif;
}

body {
    @apply m-0;
    @apply p-0;
    @apply flex;
}

button {
    @apply outline-none;
}

.button-prefix-suffix {
    > svg {
        @apply w-full;
        @apply h-full;
    }
}
