@import "react-alice-carousel/lib/alice-carousel.css";
@import url("./lib.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, sans-serif;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

body {
  @apply m-0;
  @apply p-0;
  @apply flex;
  @apply box-border;
  @apply overscroll-y-none;
  @apply overflow-x-hidden;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.svg-wrapper {
  > svg {
    @apply h-full;
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
